{% extends "shop_base.html" %}

{% block title %}Latest Products{% endblock %}
{# I will show Newest products here #}

{% block content %}
<div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
        <h4 class="is-size-2">{{ category.name }}</h4>
    </div>
    <div class="row">
        {% for product in products %}
      {{  product.slug }}
        {% include 'shop/product/parts/list_item.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}